

.languages{
    display: inline-flex;
    margin: 2%;
}


    .button-primary,
    input[type="text"].button-primary,
    input[type="button"].button-primary {
      color: #FFF;
      background-color: orangered;
      border-color: orange; 
      border-radius: 1em;
}

.errorMessage{
    color:red

}

.message{

}
